.container {
    height: calc(100vh - 100px);
    overflow: hidden;
    background-color: red;
    position: relative;  
}
.arrowContainer{
    position:absolute;
    width: 10%;
    height: 20%;
    top: 0;
    bottom: 0;
    margin: auto;  
    cursor: pointer  ; 
    z-index: 1;
}
.wrapper{
    height: 100%;
    width: 300vw;
    display: flex;
    transition: all 1.5s ease-in-out;
    
}
.imgContainer{
    height: 100%;
    position: relative;
    width: 100vw;
}

@media screen and (max-width:480px){
.container{
    height: 50vh;

}

}